﻿@using Microsoft.AspNetCore.Authentication

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
<dt>@claim.Type</dt>
                <dd>@claim.Value</dd>}
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
<dt>@prop.Key</dt>
                <dd>@prop.Value</dd>}
</dl>

<h2>
    User details
</h2>
<dl>
    <dt>@User.Identity.AuthenticationType</dt>
    <dt>@User.Identity.Name</dt>
</dl>